<div class="page-header">
  <%= link_to new_student_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Student
  <% end %>
  <h1>Listing students</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Rollno</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phoneno</th>
            <th>Department</th>
            <th>Year</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @students) do |student| %>
            <td><%= student.rollno %></td>
            <td><%= student.name %></td>
            <td><%= student.email %></td>
            <td><%= student.phoneno %></td>
            <td><%= student.department %></td>
            <td><%= student.year %></td>
            <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
