<div class="page-header">
  <%= link_to new_meal_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Meal
  <% end %>
  <h1>Listing meals</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Mealtime</th>
            <th>Enrolled no of students</th>
            <th>Time</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @meals) do |meal| %>
            <td><%= meal.name %></td>
            <td><%= meal.price %></td>
            <td><%= meal.mealtime %></td>
            <td><%= meal.enrolled_no_of_students %></td>
            <td><%= meal.time %></td>
            <td><%= link_to 'Show', meal %></td>
        <td><%= link_to 'Edit', edit_meal_path(meal) %></td>
        <td><%= link_to 'Destroy', meal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
