<div class="page-header">
  <%= link_to meals_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_meal_path(@meal), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show meal</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @meal.name %></dd>

  <dt>Price:</dt>
  <dd><%= @meal.price %></dd>

  <dt>Mealtime:</dt>
  <dd><%= @meal.mealtime %></dd>

  <dt>Mealday:</dt>
  <dd><%= @meal.mealday %></dd>

  <dt>Mealindex:</dt>
  <dd><%= @meal.mealindex %></dd>

  <dt>Enrolled no of students:</dt>
  <dd><%= @meal.enrolled_no_of_students %></dd>

  <dt>Time:</dt>
  <dd><%= @meal.time %></dd>

</dl>
